

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style/main.css') }}">
    <title> Login</title>
</head>

<body>
    <div class="container">

        <div class="user_icon">
        <img src="{{ url_for('static', filename='login/assets/usericon.png') }}" class="user-icon" alt="logo" width="200px" height="200p">
        </div>
        <div class="user_text">User</div>

        <div class="controls">
            <div class="inputControl" id="container_pw">
                <input type="password" class="input_password" id="input_password" placeholder=" Password">
                <button id="password_button" type="button" value=" ➔"> ➔</button>
            </div>

            <div  id="container_error" class="hide">
                <span type="disabled" class="input_password">Password incorrect. Try Again.</span>
                <button id="error_close">Ok</button>
            </div>
        </div>
        


    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='login/js/main.js') }}"></script>
</body>

</html>
