<!DOCTYPE html>
<html>
	<head>
		<title>Game - WON</title>

	</head>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background: black;
        }
        img{
            height: 90vh;
            width: auto;
        }
    </style>
	<body>
        <img src="{{ url_for('static', filename='endscreen/assets/solution.png') }}" />
	</body>
</html>
