<!DOCTYPE html>
<html>
	<head>
		<title>Infinite Mario - JavaScript</title>
        <script type="text/javascript" src="{{ url_for('static', filename='game/vendor/jquery.min.js') }}"></script>
	</head>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background: black;
            overflow: hidden;
        }
        canvas{
            scale: 1.8;
        }
    </style>
	<body>
		<canvas id="canvas" width="640" height="480">
			<p>Your browser does not support the canvas element.</p>
		</canvas>

        <!-- Enjine Includes -->
        <script src="{{ url_for('static', filename='game/Enjine/core.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/gameCanvas.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/keyboardInput.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/resources.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/drawable.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/state.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/gameTimer.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/camera.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/drawableManager.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/sprite.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/spriteFont.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/frameSprite.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/animatedSprite.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/collideable.js') }}"></script>
        <script src="{{ url_for('static', filename='game/Enjine/application.js') }}"></script>

        <!-- Actual game code -->
        <script src="{{ url_for('static', filename='game/code/setup.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/spriteCuts.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/level.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/backgroundGenerator.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/backgroundRenderer.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/improvedNoise.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/notchSprite.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/character.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/levelRenderer.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/levelGenerator.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/spriteTemplate.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/enemy.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/fireball.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/sparkle.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/coinAnim.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/mushroom.js') }}"></script>
		<script src="{{ url_for('static', filename='game/code/particle.js') }}"></script>
		<script src="{{ url_for('static', filename='game/code/fireFlower.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/bulletBill.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/flowerEnemy.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/shell.js') }}"></script>

        <script src="{{ url_for('static', filename='game/code/titleState.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/loadingState.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/loseState.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/winState.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/mapState.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/levelState.js') }}"></script>



        <script src="{{ url_for('static', filename='game/code/_endSingal.js') }}"></script>
        <script src="{{ url_for('static', filename='game/code/_perlinSeeder.js') }}"></script>


        <script>$(document).ready(function() { new Enjine.Application().Initialize(new Mario.LoadingState(), 320, 240) });</script>
	</body>
</html>
